.App {
	text-align: center;
}

.App-header {
	background-color: #2C2A29;
	color: #960000;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	font-weight: bold;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-shadow: #303030 1px 0 20px;
}

.h3 {
	text-align: center;
}

.container-left {
	float: left;
	width: 70%;
}

.container-right {
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.division_container {
	display: flex;
	margin: 5em;
}

.division {
	box-sizing: border-box;
	width: 49%;
	margin: 1em;
}

.degreeProgress {
	color: white;
	font-weight: bold;
	font-size: 1.25em;
	background-color: #2C2A29;
	border: thin solid black;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: center;
}

.degreeProgressHeader {
	background-color: #960000;
	color: white;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	border: thin solid black;
}

div.custom-container {
	background-color: #FFFFFF;
}

svg.custom .node circle {
	fill: #F3F3FF;
	stroke: #2593B8;
	stroke-width: 1.5px;
}
